version: CI Build {Build}
image: Visual Studio 2017
configuration:
- Debug
- Release
before_build:
- cmd: nuget restore
build:
  project: Nagisa.sln
  verbosity: normal
artifacts:
- path: Output\AppPackage